.chat{
    width:100%;
    height:auto;
    max-height:500px;
    background-color: #263238;
    padding: 2rem;
    overflow: auto;
}
.text-message{
    width: fit-content;
    max-width: 50%;
    padding: 0.5rem 1rem 1rem 1rem;
    word-break: break-all;
}
.left-message{
    background-color: #c5e1a5;
}
.right-message{
    margin-left: auto;
    background-color: #80deea ;
}
.chat span{
    color: #333;
    font-size: 0.76rem;
}
.chat p{
    color: black;
    font-size: 1rem;
}
.input-chat{
    display: flex;
    height:fit-content;
    background-color: #212121;
    padding: 1rem 2rem;
}
.input-chat .input-field{
    margin:0;
    display: flex;
    flex: auto;
}
.input-chat a{
    margin-left: 1rem;
    display: flex;
}