html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background:#263238;
    color:white;
}
#app{
    margin-top: 3rem;
}
input{
    color:white;
}
.btn{
    background-color:#bbdefb;
    color:black;
}
.btn:hover{
    background-color:#64b5f6;
}
.btn:active, .btn:focus, .btn:visited{
    background-color:#64b5f6;
}

.invalid ~ label, .invalid ~ label.active{
    color: #ffb74d !important;
}

/* label color */
.input-field label {
    color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=number]:focus + label{
    color: white !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=number]:focus{
    border-bottom: 1px solid #bbdefb !important;
    box-shadow: 0 1px 0 0 #bbdefb !important;
  }
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=number].valid{
    border-bottom: 1px solid #c8e6c9 !important;
    box-shadow: 0 1px 0 0 #c8e6c9 !important;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=number].invalid {
    border-bottom: 1px solid #ffb74d !important;
    box-shadow: 0 1px 0 0 #ffb74d !important;
}
.input-field .prefix.active {
    color: #bbdefb !important;
}
.card{
    background-color: #37474f;
}

.tabs.tabs-custom .tab a:hover, .tabs.tabs-custom .tab a.active{
    color: #ffb74d;
}
.tabs.tabs-custom, .collection a.collection-item{
    background-color: #263238;
    border: none;
}
.collection, .collection a.collection-item {
    color:white;
    border: none;
}

.tabs.tabs-custom .tab a, .tabs.tabs-custom .tab.disabled a, .tabs.tabs-custom .tab.disabled a:hover {
    color: rgba(255,255,255,0.7);
}
.tabs .tab a:focus, .tabs .tab a:focus.active, .collection a.collection-item:hover{
    background-color: rgba(178, 246, 227, 0.2) !important;
}
.tabs .indicator {
    background-color: #ffb74d;
}

textarea.materialize-textarea:focus:not([read-only]){
    border-bottom: 1px solid #ffb74d !important;
    box-shadow: 0 1px 0 0 #ffb74d !important;
}
textarea{
    color:white !important;
}
textarea.materialize-textarea:focus:not([read-only]) + label{
    color:white !important;
}